
.logo { 

  flex: 1 0 auto; 
  font-weight: 700; 
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px; 

}

.nav-links {
  display: flex; 
  justify-content: space-around; 
  padding: 1rem; 
  transition: all .5s;   

}

.nav-links li { 
  display: block; 
  align-content: center;
  margin-right: 10px; 
  list-style: none;
  text-decoration: none; 

}


li a { 
  text-decoration: none;
  color: black; 
}

.nav-links:hover {
  background-color: rgb(153,153,153, 0.5);
  color: black; 
  font-weight: bold; 
  cursor: pointer;
} 

.nav-links li a:hover { 
  color: white; 
  font-weight: bold; 
  cursor: pointer;
}
li a:visited{
  text-decoration: none;
  color: black;

}

/* Hambuger menus. gawd.

.toggle-button { 
  position: absolute; 
  top: .75rem;
  right: 1rem; 
  display: none; 
  flex-direction: column;
  justify-content: space-between;
  width: 30px; 
  height: 21px; 
  
}

.toggle-button .bar { 
  height: 3px; 
  width: 100px; 
  background-color: white;
  border-radius: 5px; 

} */

.hero-page { 
  background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(/assets/images/img3.jpg);
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: fixed;
  
}

.hero { 
  width: 100vw; 
  height: 100vh; 

  display: flex; 
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white; 


  /* background-image: url(/assets/images/img3.jpg);
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: fixed;
   */


}

.hero-content { 
  border: 3px solid white;
  -webkit-box-shadow: 0 8px 6px -6px rgb(49, 47, 47);
	-moz-box-shadow: 0 8px 6px -6px rgb(49, 47, 47);
  box-shadow: 0 8px 6px -6px rgb(49, 47, 47);
  padding: 20px; 
  background-color:rgb(49, 47, 47, 0.3); 
}
  
  


.hero h1  {
  font-size: 2rem; 
  margin-bottom: 1rem; 
  text-shadow: 2px 2px 1px gray;
  letter-spacing: .3rem;
  
}

.hero p { 
  text-shadow: 1px 1px 2px gray;

}

.hero .button { 
  display: block; 
  width: 100px; 
  /* border: 3px solid black; */
  background-color: rgb(43, 71, 37, 0.5); 
  padding: 5px; 
  margin-top: 20px; 
  margin-left: auto; 
  margin-right: auto; 

  color: white; 
  text-decoration: none; 
  font-size: 1rem; 

  border-radius: 20px; 
}
.hero .button:hover { 
  color: black; 
  cursor: pointer;
}

/* 
.card-form { 
  display: flex; 
  flex-wrap: wrap; 
  
  
} */
.card-content { 
  max-height: 50%; 
  width: 100%; 
  /* background-color: rgb(43, 71, 37, 0.3);  */
  display: flex; 
  flex-wrap:wrap;
  justify-content: center; 
  align-items: center;
 
  /* border-radius: 10px; 
  box-shadow: 2px 2px 2px 2px gray;  */
  margin: auto; 
  margin-top: 5px; 
  margin-bottom: 10px; 
  
  
}
.card-text { 
  border: 1px solid gray; 
  padding: 5px; 
  margin: 5%; 
  max-width: 40ch; 
  text-align: center;
}
.card-text h4 { 
  font-size: 1rem; 

}

.card-content .card-image { 
  width: 200px; 
  max-height: 50vh; 
  border-radius: 300%;
  margin: 10px; 
  
}


.form-container {
  max-height: 50vh; 
  display: flex; 
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center; 
  /* border: 1px solid black;  */
  border-radius: 2px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(/assets/images/brick.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;  
  width: 50%; 
  
  max-width: 1000px; 
  margin: 0 auto; 
  padding-top: 20px; 
}


.form-container h4 { 
  text-transform: uppercase;
  font-size: 2rem; 
  padding: 1px; 
  margin-top: 2px;
  margin-bottom: 2px; 

}


.form-content { 
  display: flex; 
  flex-direction: column;
  
  background-color: gray 0.7;
  padding: 3px; 
  /* border-radius: 20%; */

  min-width: 40%;
  margin-bottom: 10px; 

}


.form-action { 
  width: 100%; 
  height: 20%; 
  font-size: 1rem; 

}

.form-action input {
height: 20px; 
width: 100%; 
font-size: .5rem; 
}


button[type="submit"] { 

width: 75%; 
margin-top: 5px; 
border-radius: 5px;
background-color: rgb(43, 72,  37, 0.5);  

}

/* this looks like total crap and I hate it. Just thought i'd also throw that in that i know it looks like garbage */ 

button[type="submit"]:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);


}


/* .form-container * { 
  box-sizing: border-box;

}



 /* p { 
  color: black; 
  text-align: center; 
  font-size: 1rem; 
  padding-right: 310px; 
  
 } */
 

.map { 
  display:flex; 
  justify-content: center;
  margin: 10px; 
  padding: 5px; 
}

 

 @media only screen and (max-width: 400px) {
 
   .nav-links {
     height: 100px; 
     flex-direction: column;
     text-align: center;
     margin-top: 10px; 
   }
  }
  
  

  

 
   
  
